PYTHONPATH=src

# SQLite backend 
DB_MCP__BACKEND__KIND=sqlite
DB_MCP__BACKEND__FILE=data/titanic.db

DB_MCP__NAME=titanic
DB_MCP__DESCRIPTION=Real demographics and traveling information for a subset of the passengers and crew who were aboard the RMS Titanic when it sank.

# Postgres backend
# DB_MCP__BACKEND__KIND=postgres
# DB_MCP__BACKEND__HOST=localhost
# DB_MCP__BACKEND__PORT=5432
# DB_MCP__BACKEND__DB=default
# DB_MCP__BACKEND__DB_SCHEMA=public
# DB_MCP__BACKEND__USERNAME=postgres
# DB_MCP__BACKEND__PASSWORD=postgres
